.main2 {
    height: 100vh;
    background: url(../../images/max+elements-1366-2X.jpg) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    background-position: 100% 100%;
    min-height: 100%;
    background-position: center center;

    background-size: cover;
    -webkit-box-align: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    align-items: center;
    
}

.main2-container {
    text-align: left;
    left: 27px;
    margin: inherit;
    width: 70%;

}


